@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
}
.geocodingAddButton {
  background-color: red;
  padding: 10px !important;
  border-radius: 5px;
  color: "D4D4CC";
}