@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  background-image:url(../public/images/rain.jpg ); 
  font-family: "Inter";
}
body {
  background-image:url(../public/images/rain.jpg ); 
  font-family: "Inter";
}
input:focus {
  outline: none;
}
FirstContainerClassTest {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FirstContainerClassTest {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ece8fc;
}

/*.pill {
  position: relative;
  width: 335px;
  height: 160px;
  background: linear-gradient(to bottom, #312952 0%, #5A4A94 35%, #7B6BC6 100%);
  border-radius: 100px;
  overflow: hidden;
}


.lanternX1 { 
  z-index: 0;
  position: absolute; 
  top:400px; 
  right: 400px; 
  transform: translateX(0); 
  animation-name: lanternX1; 
  animation-duration: 10s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
}
.lanternY1 { 
  display: inline-block; 
  width: 80px; 
  z-index: 80000; 
  animation-name: lanternY; 
  animation-duration: 7s; 
  animation-iteration-count: infinite; 
  animation-timing-function: linear; 
  transform: translateY(0); 
  animation-delay: 3s; 
}
.zIndexMinusTwo {
  z-index: 0;
}

@keyframes lanternX1 {
  50% { transform: translateX(75px); }
}
@keyframes lanternY {
  0% { transform: translateY(0); }
  50% { transform: translateY(-200px); }
  100% { transform: translateY(-400px); }
}
*/